/* .container {
      border: 1px solid black;
      height: 600px;
      width: 600px;
}

.box {
      background-color: olive;
      width: 50%;
      height: 50%;
} */

/* h1 {
      font-size: 8rem;
}

h2 {
      font-size: 6rem;
}

p {
      font-size: 4rem;
} */

/* .container {
      font-size: 20px;
}

h1 {
      font-size: 4em;
} */