* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-model {
    max-width: 600px;
    margin: 4em auto;
    text-align: left;
    padding: 0.5em 2em 2em 2em;
}

.box-model div{
    border: 1px dashed #333;
    padding: 2em;
}

.margin{
    background: #ff966f;
    margin-left: -5em;
}

.margin::before {
    display: block;
    content: 'margin';
}

.border{
    background: #ffe8c6;
}

.border::before {
    display: block;
    content: 'border';
}

.padding{
    background: #85eb85;
}

.padding::before {
    display: block;
    content: 'padding';
}

.content{
    text-align: center;
    background: #a3d2e2;
}