* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-model {
    max-width: 600px;
    margin: 4em auto;
    text-align: left;
}

.box-model div{
    border: 1px dashed #333;
    padding: 2em;
}

.margin{
    background: #ff966f;
    margin-left: -5em;
}

.border{
    background: #ffe8c6;
}

.padding{
    background: #85eb85;
}

.content{
    text-align: center;
    background: #a3d2e2;
}