* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-model {
    max-width: 600px;
    margin: 0 auto;
}

.box-model div{
    border: 1px dashed #333;
}

.content{
    text-align: center;
}