* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    margin: 1em;
}

h1,
h2 {
    margin: 0.2em 0;
}

p {
    margin-bottom: 1.5em;
}

@media (min-width: 30em) and (orientation: landscape) {
    body::before {
        display: block;
        margin: 1em;
        padding: 15px;
        background-color: blue;
        color: #fff;
        border-radius: 5px;
        content: 'The viewport width is larger than 30em and the orientation is landscape.';
    }
}

@media (min-height: 680px),
screen and (orientation: portrait) {
    body::before {
        display: block;
        margin: 1em;
        padding: 15px;
        background-color: blue;
        color: #fff;
        border-radius: 5px;
        content: 'The viewport height is larger than 680px or the media type is screen and the orientation is portrait.';

    }
}

@media not (min-width: 600px) {
    body::before {
        display: block;
        margin: 1em;
        padding: 15px;
        background-color: blue;
        color: #fff;
        border-radius: 5px;
        content: 'The view port is NOT larger than 600px';
    }
}