html {
      box-sizing: border-box;
}


*,
*:before,
*:after {
      box-sizing: inherit;
}

body {
      background-color: lightgray;
}

.parent {
      width: 80%;
      margin: 70px auto;
      display: flex;
      gap: 20px;
}

i {
      font-size: 40px;
}

.right,
.left>* {
      background-color: white;
}

.left {
      flex: 70%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
}

.right {
      flex: 30%;
}

.left>*,
.right>* {
      flex: 100%;
      padding: 20px;
}

.circle {
      height: 140px;
      width: 140px;
      border-radius: 50%;
      background-color: green;
      box-shadow: 0 0 10px gray;
}

.box-top-left,
.box-bottom-left {
      display: flex;
      align-items: center;
      border-radius: 4px;
}

.box-right-side {
      display: flex;
      flex-direction: column;

}

.geometry-right .circle {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: green;
      box-shadow: 0 0 10px gray;
}

.right {
      border-radius: 4px;
}

.one>*,
.two>* {
      margin-left: 40px;
      width: 80%;
}

.grey {
      color: gray
}

@media only screen and (max-width: 599px) {
      .parent {
            display: flex;
            flex-wrap: wrap;
      }

      .parent>* {
            flex: 1 1 100%;
      }

      .right .box-right-side {
            display: flex;
            flex-direction: row;
      }

      .geometry-right .circle {
            height: 140px;
            width: 140px;
            border-radius: 50%;
            background-color: green;
            box-shadow: 0 0 10px gray;
      }

      .three>* {
            margin-left: 40px;
            width: 80%;
      }

      .box-right-side {
            display: flex;
            align-items: center;
            border-radius: 4px;
      }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
      .circle,
      .geometry-right .circle {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: green;
            box-shadow: 0 0 10px gray;
      }

      .box-top-left,
      .box-bottom-left {
            display: flex;
            gap: 2em;
      }
}