p.highlight {
      color: cyan;
      font-size: 20px;
}

div#special {
      background-color: magenta;
      padding: 30px;
}

a[type=href="https://softuni.bg"] {
      color: yellow;
}

.class1.class2 {
      text-decoration: underline;
      color: purple;
}