* {
    border: 0;
    padding: 0;
    margin: 0;
}

div.box {
    border: 1px solid green;
}

div.inner {
    border: 1px solid blue;
    display: block;
    width: 400px;
    height: 200px;
    margin: 30px;
}
