* {
      padding: 0;
      margin: 0;
}

html {
      box-sizing: border-box;
}

*,
*:before,
*:after {
      box-sizing: inherit;
}

body {
      background-color: white;
}

.keyboard {
      width: 60%;
      background-color: lightgray;
      border-top: 1px solid rgb(168, 168, 168);
      margin: 50px auto;
      border-radius: 10px;
      box-shadow: 0 2px rgb(168, 168, 168);
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}

.one,
.two,
.three,
.four,
.five,
.six {
      flex: 0 0 100%;
      display: flex;
      margin: 5px;
      gap: 0 10px;
}

.one>*,
.two>*,
.three>*,
.four>*,
.five>*,
.six>* {
      padding: 10px 10px;
      flex-grow: 1;

}

.three>button:first-of-type {
      padding: 5px 16px;
}

.five>button:nth-of-type(13) {
      padding: 5px 40px;
}

.six>button:nth-of-type(4) {
      padding: 5px 125px;
}

button {
      border: 0.5px solid rgb(173, 173, 173);
      border-radius: 3px;
      border-bottom: 2px solid rgb(150, 150, 150);
}

.key.enter::after {
      content: "aaaaaaa";
      width: 10px;
      height: 10px;
      position: relative;
      background-color: #efefef;
      color: #efefef;
      top: 25px;
      left: 21px;
      border-left: 0.5px solid rgb(173, 173, 173);
      border-right: 0.5px solid rgb(173, 173, 173);
}

.key.special-color {
      color: #efefef;
}