body {
      background-color: lightgray;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.card {
      background-color: white;
      width: 60%;
      padding: 1em;
      border-radius: 4px;
      box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

input[type="radio"] {
      appearance: none;
      border: 2px solid orange;
      width: 1em;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: orange;
      position: relative;
}

input[type="radio"]:checked::after {
      display: block;
      content: "";
      position: absolute;
      background-color: red;
      inset: 0;
      border-radius: inherit;
}

input[type="checkbox"] {
      appearance: none;
      border: 2px solid orange;
      border-radius: 5em;
      width: 4em;
      aspect-ratio: 2/1;
      background-color: orange;
      position: relative;
      top: 0.5em;
}

input[type="checkbox"]::after {
      display: block;
      content: "";
      position: absolute;
      width: 1.5em;
      aspect-ratio: 1/1;
      background-color: white;
      inset: 0;
      border-radius: inherit;
}

input[type="checkbox"]:checked::after {
      left: 55%;
}