@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #C1BBBB;
}

.top-block {
    margin: 2em auto;
    width: 80%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logos-main {
    margin-right: 1em;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #696969;
    font-weight: 900;
}

nav ul li a:focus {
    padding: 0.4em 0.8em;
    background-color: #696969;
    color: white;
    border-radius: 4px;
}

.main-logo {
    background-color: #59A290;
    font-family: 'Oleo Script', serif;
    color: white;
    font-size: 1.5em;
    padding: 0.5px 6px;
    border-radius: 4px;
}

.softuni {
    font-size: 0.6em;
    font-weight: 700;
}

.site-main {
    margin: 1em 0;
}

.site-main>* {
    box-shadow: 0 0 1em 1px rgb(183, 182, 182);
    border-radius: 4px;
    margin-bottom: 1em;
}
.site-main .site-header {
    display: flex;
    background-color: white;
    padding: 1.4em;
    justify-content: space-between;
    gap: 1em;
}

.site-header-left {
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header-left h1 {
    line-height: 0.9em;
    margin-bottom: 0.2em;
}

.site-main .site-header-right {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.site-main .site-header-right a {
    width: 10em;
    border-radius: 4px;
    background-color: #F2F2F2;
    text-align: left;
    padding: 0.6em 0.8em;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: black;
    font-weight: 700;
}

.site-main .site-header-right a:nth-child(1):after {
    content: "\f35a";
    font-family: "Font Awesome 6 Free";
    color: black;
}

.site-main .site-header-right a:nth-child(2):after {
    content: "\3f";
    font-family: "Font Awesome 6 Free";
    color: black;
}

.site-main .site-header-right a:hover,
.site-main .site-header-right a:nth-child(1):hover:after,
.site-main .site-header-right a:nth-child(2):hover:after {
    background-color: #288CC3;
    color: white;
    transition: 0.4s;
}

.article-main-container {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.article-main-container>* {
    background-color: white;
    border-radius: 4px;
}

.img-container {
    display: flex;
}

article .text-container {
    margin: 2em 1em;
}

h3 {
    padding-bottom: 0.6em;
}

article .text-container p {
    opacity: 0.6;
    line-height: 1.5em;
}

.extended-main-container {
    background-color: white;
}

.extended-main-container .inner-container {
    width: 80%;
    margin: 2em auto;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.block-one {
    width: 100%;
    position: relative;
}

.extended-main-container .inner-container .block-one .color-cards ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 0.3em;
}

.block-one .color-cards ul li {
    max-width: 120px;
}

.block-one .color-cards ul li img {
    border-radius: 4px;
}

.extended-main-container .inner-container .block-one {
    flex-grow: 1;
}

.extended-main-container .inner-container .block-two {
    flex-grow: 2.5;
}

.more {
    display: inline-block;
    background-color: #288CC3;
    border-radius: 4px;
    padding: 0.6em 1.2em;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-top: 1em;
}

h2 {
    padding-bottom: 0.6em;
}

p {
    margin-bottom: 0.8em;
}

.parent-container {
    margin: 1em auto;
    width: 80%;
    display: flex;
}

.bolded {
    font-weight: 700;
}

.footer-container a {
    color: black;
    line-height: 1em;
}

.logo-icons {
    list-style-type: none;
    display: flex;
    font-size: 2em;
    gap: 0.1em;
}

.copyright {
    text-align: center;
    margin: 3em auto;
}