html {
      box-sizing: border-box;
}

*,
*:before,
*:after {
      box-sizing: inherit;
}

body {
      height: 90vh;
      background-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
}

.container {
      display: flex;
      width: 40%;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 10px rgb(172, 170, 170);
}

article {
      padding: 20px;
      margin-bottom: 40px;
}