* {
    box-sizing: border-box;
}

body {
    border: 2px solid black;
    margin: 0;

}
div {
    border: 2px solid black;
    margin: 15px;
}

.fixed-width {
    width: 300px;
}

.per-width {
    width: 50%;
}

.vw-width {
    width: 50vw;
}

.min-max {
    min-width: 100px;
    max-width: 300px;
}