ul li {
      list-style-type: none;
      padding: 5px 0;
      display: flex;
}

ul {
      padding: 0 0 0 0.5em;
}

details summary::before {
      content: "+";
      height: 20px;
      width: 20px;
      background-color: green;
      color: white;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
}

details summary {
      display: flex;
      gap: 0.2em;
      cursor: pointer;
      padding: 3px 0;
}

ul li li::before {
      display: block;
      content: "";
      border: solid #ccc;
      border-width: 0 0 2px 2px;
      width: 1em;
      height: 1.3em;
      margin-right: 0.5em;
      border-bottom-left-radius: 5px;
      margin-right: 0.5em;
      position: relative;
      left: -2px;
}

details[open]>summary::before {
      content: "-";
}

ul li li {
      border-left: 2px solid #ccc;
      position: relative;
}